<div class="hogwarts-info-container mx-0">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mx-auto" [ngClass]="{ 'col-md-2 col-4': showStudentform, 'col-md-4 col-8': !showStudentform}">
                <img class="img-fluid mx-auto pt-5" src="../../../assets/images/logos/golden-snitch.png" alt="selector hat">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div *ngIf="showStudentform" class="col-md-8 col-lg-5 text-center">
                <h1>New Student</h1>
                <hr>
                <app-student-form 
                class="text-left"
                (onSave)="close()"
                (onCancel)="close()"
                >
            </app-student-form>
            </div>
            <div *ngIf="!showStudentform" class="col-md-10 col-lg-7 text-center">
                <div *ngIf="students && students.length" class="container">
                    <h1>Students</h1>
                    <hr>
                    <app-card [characters]="students"></app-card>
                </div>
            </div>
        </div>
     </div>
</div>

<div *ngIf="!showStudentform">
    <a [routerLink]="" (click)="showAddForm()" class="float-add-button" title="add student">
        <span>+</span>
    </a>
</div>
 