<div class="hogwarts-info-container mx-0">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mx-auto" [ngClass]="{ 'col-md-2 col-4': characters && characters.length, 'col-md-4 col-8': !(characters && characters.length)}">
                <img class="img-fluid mx-auto pt-5 pb-5" src="../../../assets/images/logos/Colour_Sorting_Hat.png" alt="selector hat">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-7 text-center">
                <app-houses></app-houses>
                <div *ngIf="characters && characters.length" class="container">
                    <h1>Characters</h1>
                    <hr>
                    <app-card [characters]="characters"></app-card>
                </div>
            </div>
        </div>
     </div>
</div>

 