.hogwarts-home {
    background-color: #a0a0a0;
    width: 100%;
    padding-bottom: 4rem;
}

.hogwarts-home .banner-image {
    max-width: 80%;
    display: block;
    padding-top: 9rem;
    padding-bottom: 4rem;
}
