<div class="hogwarts-info-container mx-0">
 <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <img class="img-fluid mx-auto banner-image" src="../../../assets/images/logos/hogwarts_logo.png" alt="hogwarts logo">
        </div>
    </div>

    <div class="row py-2 text-center">
        <div class="col-md-12">
            <a class="btn btn-primary home-button" href="/characters" alt="characters">Characters</a>
        </div>
    </div>
    <div class="row py-2 text-center">
        <div class="col-md-12">
            <a class="btn btn-primary home-button" href="/students" alt="students">Students</a>
        </div>
    </div>
    <div class="row py-2 text-center">
        <div class="col-md-12">
            <a class="btn btn-primary home-button" href="/teachers" alt="teachers">Teachers</a>
        </div>
    </div>
 </div>
</div>
