<div class="footer-container row justify-content-md-center mx-0">
    <div class="site-map col-md-8">
        <span>
            <b>site map:</b>
        </span>
        <a href="/characters" tittle="characters">Characters</a>
        <a href="/students" tittle="students">Students</a>
        <a href="/teachers" tittle="teachers">Teachers</a>
    </div>
    <div class="col-md-4">
        <span><b>powered by:</b></span>
        <h2>Juan Espinosa</h2>
        <a href = "mailto: jgespinosa91@gmail.com">jgespinosa91@gmail.com</a>
    </div>
</div>

<div class="footer-end">
    <span>Open Source 2020</span>
</div>